<div class="col-md-6 col-md-offset-3" dir="rtl">
  <h2>ورود به حساب کاربری</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">نام کاربری</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      <div [hidden]="username.valid || username.pristine"
           class="alert alert-danger">
        لطفا نام کاربری را وارد کنید.
      </div>
    </div>
    <div class="form-group">
      <label for="password">کلمه عبور</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div [hidden]="password.valid || password.pristine"
           class="alert alert-danger">
        لطفا کلمهٔ عبور را وارد کنید.
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="!loginForm.form.valid" class="btn btn-primary">ورود</button>
      <a [routerLink]="['/register']" class="btn btn-link">ثبت نام</a>
    </div>
  </form>

  <!--<div class="loading" [hidden]="!loading">
    <img src="/assets/images/tadbir-loading.gif" />
  </div>-->

</div>

<!--<div class="container" dir="rtl">
  <div class="row" style="margin-top:5%">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="panel panel-default boxshadow">
        <div class="panel-heading" style="color:#ffffff; background-color: #95a7c7;">
          <strong>ورود به حساب کاربری</strong>
        </div>
        <div class="panel-body">
          <form name="form" #registerForm="ngForm">
            <fieldset>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <div class="center">
                    <img class="img-rounded" style="height:100px;width:100px;align-items:center" src="../../../assets/login.png" />
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user">نام کاربری</i>
                      </span>
                      <input class="form-control" placeholder="Username"
                             [(ngModel)]="model.username" [ngModelOptions]="{standalone:true}" #username="ngModel" type="text" autofocus required>
                      <strong [(ngModel)]="model.userValidation" [ngModelOptions]="{standalone:true}">{{userValidation}}</strong>
                    </div>
                  </div>
                  <br />

                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-lock">کلمه عبور</i>
                      </span>
                      <input class="form-control" placeholder="Password"
                             [(ngModel)]="model.password" [ngModelOptions]="{standalone:true}" #password="ngModel" type="password" required>
                    </div>
                  </div>

                  <br />
                  <div class="form-group">
                    <input type="button" (click)="login()" id="loginclick"
                           class="btn btn-lg btn-primary btn-block" value="ورود">
                  </div>
                  <div class="form-group">
                    <a [routerLink]="['/register']" class="btn btn-link ">ثبت نام</a>
                  </div>

                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>-->
