<div>

  <input type="file" #file placeholder="Choose file" onchange="this.form.submit()">

  <dp-date-picker dir="rtl"
                  [(ngModel)]="dateObject"
                  mode="day"
                  placeholder="انتخاب تاریخ"
                  theme="dp-material">
  </dp-date-picker>

  <button type="submit" class="btn btn-info" (click)="uploadFile(file.files)">Upload File</button>


  <!--<div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>-->

</div>


