<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!--<div class="user-panel">
      <div class="pull-right image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-right info">
        <p>سعید </p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>-->
    <!-- search form -->
    <!--<form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="جستجو...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>-->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu direction">
      <li class="header">منو اصلی</li>
      <li>
        <a routerLink="/admin">
          <i class="fa fa-dashboard"></i> <span>داشبورد</span>
        </a>
      </li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-pie-chart"></i>
          <span>اطلاعات پایه</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/admin/provinces"><i class="fa fa-circle-o"></i>استان</a></li>
          <li><a routerLink="/admin/cities"><i class="fa fa-circle-o"></i>شهر</a></li>
          <li><a routerLink="/admin/users"><i class="fa fa-circle-o"></i>کاربران</a></li>
          <li><a routerLink="/admin/roles"><i class="fa fa-circle-o"></i>نقش ها</a></li>
          <li><a routerLink="/admin/product-category"><i class="fa fa-circle-o"></i>دسته بندی کالا</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-pie-chart"></i>
          <span>عملیات روزانه</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/admin/uploadfile">
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
              بارکذاری اطلاعات
            </a>
          </li>
          <li><a routerLink="/"><i class="fa fa-circle-o"></i>سفارشات</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-pie-chart"></i>
          <span>مدیریت محتوی</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/"><i class="fa fa-clone"></i>اسلایدر</a></li>
          <li><a routerLink="/"><i class="fa fa-clone"></i>اخبار و اطلاعیه</a></li>
          <li><a routerLink="/"><i class="fa fa-clone"></i>مقالات</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="javascript:;">
          <i class="fa fa-pie-chart"></i>
          <span>تنظیمات</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/"><i class="fa fa-clone"></i>پارامترها</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
